.open-slide{
margin: 10px;
 display: none;

}
/*
Amincissement

 Cavitation
 GMP
 starvac
 RADIOFRÉQUENCE


Esthétique
Coiffure
Epilation Definitive
Massage
Sport
*/
.logo{

  position: absolute;
  top: -50%;
  left: 5%;
	width: 500px;
	height: auto;

}
.logo{

  position: absolute;
  left: 5%;
	width: 500px;
	height: auto;

}
.logo .bogaboga{
  font-family: 'Saira Stencil One', cursive;

text-decoration: none;
  font-size: 70px;
  color: red;
  transform: translateY(-50%);
  transform: translatex(50%);

}
.iknow {
  position: absolute;
  left: 3%;
  top: 35%;
}
.iknow h2 {

  font-size: 40px;
  color: #3498db;
  transform: translateY(-50%);
  transform: translatex(50%);

}

/*.fixd{
width: 100%;
z-index: 10000;

  position: fixed;
  top:0;
}*/
 .navbar{
  position: absolute;
  top: 70px;
/*position: absolute
;
top: 0;*/
 z-index: 999;

  background-color:#fff;
 /*overflow:hidden;*/
  height:63px;
  width: 100%;

margin-bottom: 0;
box-shadow: 0 10px 15px /*rgba(0,0,0,.1)*/#3498db;

  background-color:#fff;
 /*overflow:hidden;*/
}
.navbar1{
 position: absolute;
 top: 70px;
/*position: absolute
;
top: 0;*/
z-index: 999;

 background-color:#fff;
/*overflow:hidden;*/
 height:63px;
 width: 100%;

margin-bottom: 0;
box-shadow: 0 10px 15px /*rgba(0,0,0,.1)*/#3498db;

 background-color:#fff;
/*overflow:hidden;*/
}
.navbar .navbar-nav li{


display: inline-block;}
.navbar a{
  float:left;
  display:block;
  color:/*#525252*/#3498db;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:24px;
}

.navbar .navbar-nav{
  margin:6px 0 0 30%;
  list-style:none;
	display: inline-block;

}

.navbar a:hover{
	text-decoration:none;

  color:#ff6633;
/*  transform: scale(1.5);*/
}
.navbar1 .navbar-nav li{


display: inline-block;}
.navbar1 a{
  float:left;
  display:block;
  color:/*#525252*/#3498db;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:24px;
}

.navbar1 .navbar-nav{
  margin:6px 0 0 30%;
  list-style:none;
	display: inline-block;

}

.navbar1 a:hover{
	text-decoration:none;

  color:#ff6633;
/*  transform: scale(1.5);*/
}

.side-nav{
  height:100%;
  width: 0;
  position:fixed;
  z-index:1000;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
  color: white;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar1  {

    height:70px;

    }
.navbar1  .logo{
margin-top: 0;
    position: absolute;
    top:-35% ;

    left: 5%;
  	width: 500px;
  	height: auto;

  }
.navbar1  .logo .bogaboga{
    font-family: 'Saira Stencil One', cursive;

  text-decoration: none;
    font-size: 70px;
    color: red;
    transform: translateY(-50%);
    transform: translatex(50%);

  }


.navbar  .navbar-nav{display:none}
.navbar1  .navbar-nav{display:none}

  .open-slide{
  position: absolute;
  left: 80%;
  display: block;

  }



}

@media(min-width:568px){
/*  .open-slide{
position: absolute;
left: 60%;


    display:none}*/
}

.navbar-nav li{

	position: relative;
}

.taha{
  background-color: #fff;

  list-style: none;
  position: absolute;
  left: 0;
  	top: 60px;
  	line-height: 20px !important;
  	display: none;
}
.navbar ul li:hover > ul{
	display: block;
}
.navbar1 ul li:hover > ul{
	display: block;
}

.nav{
  background-color: #fff;
  list-style: none;
  position: absolute;
  left: 95%;
    top: 10px;
    line-height: 20px !important;
    display: none;

}
.lol a{

  color: #fff;
}
.lol li{

	position: relative;
}

.lol1{
  z-index: 100;
  background-color:#fff1;

    transition:0.5s;



  list-style: none;
  position: absolute;
  left: 60%;
  	top: 40px;
    display: none;

}
.mohammed:hover > ul{
	display: block;
}


/*  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>*/
  .pop{


  }
  .footer {

width: 100%;
position: absolute;
    }
.footer-widget-section{


  box-shadow:  -10px -10px 20px /*rgba(0,0,0,.1)*/red;

  background : #fff;



}


    .footer p{
    color: #525252;
      }
      .footer address{
      color: #525252;
        }

.footer .footer-block {
    border-right : 2px solid #3a3a3a;
    padding      : 0px 60px;
padding-top: 50px;
    min-height   : 100px;
    }

@media (min-width : 992px) and (max-width : 1199px) {

    .footer .footer-block {
        padding : 60px 50px;
        }
    }

@media (min-width : 768px) and (max-width : 991px) {
    .footer .footer-block {
        padding : 50px 15px;
        }
    }

@media (max-width : 767px) {
  .hdear{
    display: none;
  }
  .navbar{


    position: fixed;
    top: 0;
  }.navbar1{


    position: fixed;
    top: 0;
  }


    .footer .footer-block {
        padding    : 30px 15px;
        min-height : inherit;
        }
    }

.footer .footer-block.last {
    border-right : 0;
    }

.footer .footer-widget h3 {
    font-size     : 26px;
    line-height   : 22px;
    color         : #525252;
    margin-bottom : 25px;
    }

.footer .widget_text {
  font-size: 15px;
    }

.footer .footer-logo {
    margin-bottom : 25px;
    }

.footer .footer-widget .btn {
    font-size     : 11px;
    padding       : 5px 18px;
    border-radius : 50px;
    color         : #6b6b6b;
    border        : 1px solid #4a4a4a;
    margin-top    : 40px;
    }

.footer .footer-widget .btn:hover {
    color            : #ffffff;
    background-color : #31aae2;
    border           : 1px solid transparent;
    }

.footer .footer-widget address {
    line-height   : 22px;
    margin-bottom : 30px;
    }

.footer .footer-widget .social-links {
    }

.footer .footer-widget .social-links li a {
    display          : block;
    font-size        : 20px;
    width            : 42px;
    height           : 42px;
    color            : #ffff;
    background-color : #4a4a4a;
    line-height      : 42px;
    text-align       : center;
    border-radius    : 50%;
    }

.footer .footer-widget .social-links li a:hover {
    color            : #fff;
    background-color : #31aae2;
    }

.footer .copyright-section {
    background-color : #2d2d2d;
    color            : #6b6b6b;
    padding          : 20px 0;
    }

.footer .copyright-section .copytext {
    text-transform : uppercase;
    color          : #6b6b6b;
    /*    font-weight    : 600;
*/
    }

@media (min-width : 768px) {


    .footer .copyright-section .list-inline > li {
        padding-right : 10px;
        padding-left  : 10px;
        }
    }

.footer .copyright-section li a {
    display   : block;
    font-size : 13px;
    color     : #6b6b6b;
    }

.footer .copyright-section li a:hover,
.footer .copyright-section li.active a {
    color :#fff;
    }














    .hdear{

    z-index: 1000;
      width: 100%;

      height: 70px;
      background-color: /*#00ffff*/;
    /*  background: url(bgnew.jpg) 50% 95% no-repeat;*/
    }

    .cont{
    font-size: 20px;
      position: absolute;
      top: 10px;
      right: 60px;
    }
    .home{

      position: absolute;
      left: 40%;  top: 10px;

    }
    .home .navbar{
      width: 30%;

      position: absolute;
      left: 35%;
      top: 0%;
    }
    .home .navbar .navbar-nav{

      margin-left: 0;position: absolute;
      left: 0;

    }

    .newlogo{


      font-size: 24px;

      position: absolute;

      top: 10px;
      left: 50px;
    }




    /*@keyframes taha {
      0%{
        background-color:  rgb(0, 0, 0)


      }
    50%{

      background-color:  rgb(255, 255, 255)


      }100%{
        background-color:  rgb(0, 0, 0)



      }
    }
    */

    .iloveyou{
    height: 230px;
    width: 350px;
      position: absolute;
      right: 10px;

      top: 40px;
      background-color:  rgb(255, 255, 255, 0.6);

    border-radius: 15%;
    animation: taha1 10s infinite ;

    }
    .img{


      width: 100%;

      height: 800px;
    }
    .img img{


      width: 100%;

      height: 100%;;
    }
    /*@keyframes taha1 {
      0%{

        background-color:  rgb(255, 255, 255)

      }
    50%{
      background-color:  rgb(0, 0, 0)



      }100%{
        background-color:  rgb(255, 255, 255)



      }
    }*/
    .iloveyou  h2{
      margin-left: 30px;

      color: #3498db;


    }
    .iloveyou  h1{
      margin-top: 10px;

      margin-left: 60px;

      color: #3498db;


    }
    .middle1{


      transform: translateY(-20%);
      width: 100%;
      text-align: center;
    }
    .btn3{
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #fff;
      margin: 10px;
      border-radius: 30%;
      box-shadow: 0 10px 15px /*rgba(0,0,0,.1)*/#3498db;
      color: #3498db;
      overflow: hidden;
      position: relative;
    }
    .btn3 i{
      line-height: 40px;
      font-size: 26px;
      transition: 0.2s linear;
    }
    .btn3:hover i{
      transform: scale(1.3);
      color: #fff;
    }
    .btn3::before{
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      background: #3498db;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }
    .btn3:hover::before{
      animation: aaa 0.7s 1;
      top: -10%;
      left: -10%;
    }
    .btn5{
      text-decoration: none;
      display: inline-block;
      width: 180px;
      height: 40px;
      background: #fff;
      margin: 10px;
     border-radius: 5%;

      box-shadow: 0 10px 15px /*rgba(0,0,0,.1)*/#3498db;
      color: #3498db;
      overflow: hidden;
      position: relative;
    }
    .btn5 i{
      line-height: 40px;
      font-size: 26px;
      transition: 0.2s linear;
    }

    .btn5 h4 {
color: #3498db;

    }
    /*.btn1:hover i{
      transform: scale(1.2);
      color: #fff;
    }*/
    .btn5 h4:hover {
      transform: scale(1.2);
      color: #ffff;


    }
    .btn5::before{
      content: "";
      position: absolute;
      width: 200%;
      height: 700%;
      background: #3498db;
      transform: rotate(10deg);
      left: -110%;
      top: 90%;
    }
    .btn5:hover::before{
      animation: aaa 0.7s 1;
      top: -10%;
      left: -10%;
    }.btn6{
      text-decoration: none;
      display: inline-block;
      width: 120px;
      height: 40px;
      background: #fff;
      margin: 10px;
      border-radius: 5%;
      box-shadow: 0 10px 15px /*rgba(0,0,0,.1)*/#3498db;
      color: #3498db;
      overflow: hidden;
      position: relative;
    }

    /*.btn1:hover i{
      transform: scale(1.2);
      color: #fff;
    }*/

    .btn6 h4 {
color: #3498db;

    }
    .btn6 h4{
      margin-top: 10px;
Amincissement
Esthétique
Coiffure
Epilation Definitive
Massage
Sport
    }
    .btn6 h4:hover {
      transform: scale(1.1);
      color: #ffff;


    }
    .btn6:hover h4 {
      transform: scale(1.1);
      color: #ffff;


    }
    .btn6::before{
      content: "";
      position: absolute;
      width: 200%;
      height: 700%;
      background: #3498db;
      transform: rotate(10deg);
      left: -110%;
      top: 90%;
    }
    .btn6:hover::before{
      animation: aaa 0.7s 1;
      top: -10%;
      left: -10%;
    }
    @keyframes aaa {
      0%{
        left: -110%;
        top: 90%;
      }50%{
        left: 10%;
        top: -30%;
      }100%{
        top: -10%;
        left: -10%;
      }
    }
    .cool{
      text-decoration: none;
      display: inline-block;
      background: #fff;
    border-radius: 10%;
      color: #3498db;
      overflow: hidden;



    }
    .cool:hover{
      background-color: #3498db;
      color: #ffff;
    }
    /*.btn1:hover i{
      transform: scale(1.2);
      color: #fff;
    }*/

    .cont h2{

    background-color: #ffff;
      color: #3498db;
    }

    *{
      padding: 0;
      margin: 0;
      font-family: sans-serif;
    }

    .hi{
      text-align: center;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 35%;
    }
    .hi span{
      text-transform: uppercase;
      display: block;
    }
    .text1{
      color: white;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 8px;
      margin-bottom: 20px;
      background: black;
      position: relative;
      animation: text 5s 1;
    }
    .text2{
      font-size: 38px;
      color: /*#6ab04c*/#3498db;
    }

    @keyframes text {
      0%{
        color: black;
        margin-bottom: -40px;
      }
      30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
      }
      85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
      }
    }




    .loc{
      position: absolute;
      top: 63%;
      left: 3%;
      text-decoration: none;
      color: #3498db;
      background: #f1f1f1;

      border: 2px solid #3498db;
      display: block;
      padding: 10px 0;
      margin: 10px 0;
      border-radius: 40px;
      text-transform: uppercase;
      font-size: 18px;
      transition: 0.5s linear;
      box-shadow: 0 5px 15px -5px #00000070;

    }
    .loc:hover{
      background: #3498db;
      color: #fff;
    }
