
.back{
  background: url(bg.jpg) no-repeat center;
  background-size: cover;

  margin: 0;
  padding: 0;

}

.not{
padding: 25px;
border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 37%;
  height: 300px;
  width: 500px;
}


.not h4{
  color: #3498db;
margin-bottom: 15px;

}
#text{
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 300px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
}
@media(max-width:780px){
  #text{

    margin-top: 100px;

  }
  .not{
padding-left: 0;

    width: 100%;

    position: absolute;
    top: 55%;
    left: 0;

  }
  }
